<a href="https://colab.research.google.com/github/eason0069/introduction-to-computers/blob/main/0601.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('0601')

In [3]:
for i in range(2,10):
  for j in range(1,10):
      product=i*j
      print('%d*%d=%2d'%(i,j,product),end=' ')
      print()

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1= 6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1= 7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1= 8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1= 9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [4]:
a=int(input('請輸入a值'))
b=int(input('請輸入b值'))


maxno=a*b
for i in range(1,maxno+1):
     if (i%a==0 and i%b==0):
       break
print('%d和%d的最小公倍數=%d'%(a,b,i))

請輸入a值5
請輸入b值4
5和4的最小公倍數=20

In [6]:
n=int(input('請輸入正整數'))
for i in range(1,n+1):
   if i%5==0:
     continue
   print(i,end=' ')

請輸入正整數25
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24

In [8]:
total=n=0
while(n<10):
  n+=1
  total+=n
print(total)

55

In [9]:
total=n=0
while(n<=10):
  total+=n
  n+=1
print(total)

55

In [11]:
total=i=1
n=int(input('請輸入正整數請輸入N的值'))
while(i<=n):
    total*=i
    i+=1
print('%d!=%d'%(n,total))

請輸入正整數請輸入N的值100
100!=93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [17]:
n=0
m=0
for i in range(0,51):
  if i%2==0:
     continue
  n+=i
print('0-50的奇數和結果是%d'%(n))
for j in range(0,51):
  if j%2!=0:
    continue
  m+=j
print('0-50的偶數和結果是%d'%(m))

0-50的奇數和結果是625
0-50的偶數和結果是650

In [20]:
n=int(input('請輸入正整數:'))
for i in range(0,n):
   for j in range(0,n-i):
     print('*',end='')
   print('\n',end='')
n=int(input('請輸入正整數:'))
for i in range(0,n):
   for j in range(0,n-i):
     print('*',end='')
   print('\n',end='')

請輸入正整數:7
*******
******
*****
****
***
**
*
請輸入正整數:5
*****
****
***
**
*

In [21]:
n=0
for i in range(1,101):
  if(i%3!=0 and i%7!=0):
    continue
  n+=i
print('數值數值1-100中,所以是3和7的倍數的數之總和為=',n)

數值數值1-100中,所以是3和7的倍數的數之總和為= 2208

In [23]:
n=int(input('請輸入正整數:'))
print(n,'的因數有',end='')
for i in range(1,n+1):
  if n%i==0:
    print(i,end=' ')
for i in range(2,n):
  if (n%i)==0:
    print('不是質數')
    break
  else:
    print(n,'是質數')

請輸入正整數:12
12 的因數有1 2 3 4 6 12 不是質數